<footer>
  <a href="mailto:termeh.taheri.dev@gmail.com" title="Email"><i class="fas fa-envelope"></i></a>
  <a href="https://scholar.google.com/citations?hl=en&user=48n5YFgAAAAJ" title="Google Scholar"><i class="fas fa-graduation-cap"></i></a>
  <a href="https://x.com/termeh_taheri" target="_blank" title="X"><i class="fab fa-x-twitter"></i></a>
  <a href="https://linkedin.com/in/termehtaheri" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/termehtaheri" title="GitHub"><i class="fab fa-github"></i></a>
  <a href="https://bsky.app/profile/termehtaheri.bsky.social" title="Bluesky" target="_blank">
    <img src="https://raw.githubusercontent.com/bluesky-social/social-app/main/assets/icons/icon-logo.svg?sanitize=true"
         alt="Bluesky" width="18" height="18" style="vertical-align: middle; filter: invert(40%) sepia(90%) saturate(300%) hue-rotate(190deg);">
  </a>
</footer>
